.IconShare {
  background-image: url('/public/media/icons/icons.png');
  background-position: 0 -219px;
  background-size: auto;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  filter: var(--bs-filter-secondary-icon);
}
