.container-comment {
  width: 100%;
  background-color: var(--bs-tertiary);
  border-radius: 25px;
}

.container-comment div {
  display: none !important;
}

#comment {
  border: none;
  outline: none;
}

.container-icon-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.container-icon-comment:hover {
  background-color: var(--bs-secondary);
}

@media (min-width: 375px) {
  .container-comment div {
    display: flex !important;
  }

  .footer-div--comments {
    max-width: 45rem;
  }
}

@media (min-width: 600px) {
  .footer-div--comments {
    width: 90%;
  }

  .container-comment {
    width: 100%;
  }

  .profile-picture--comment {
    margin-left: 0;
    width: 40px;
    height: 40px;
  }
}
