.IconPostComments {
    background-image:
        url(https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/z7oPL_uRLiD.png);
    background-position: 0px -50px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}