.IconPostComments {
  background-image: url('/public/media/icons/viewMore.png');
  background-position: 0px -50px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
