.IconNotification {
  background-image: url('/public/media/icons/actions.png');
  background-position: 0px -116px;
  background-size: auto;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  display: inline-block;
}
