.IconHide {
  background-image: url('/public/media/icons/hide.png');
  background-position: center;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
