.IconInsertCode {
  background-image: url('/public/media/icons/insertCode.png');
  background-position: 0px -46px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
