.IconInsertCode {
    background-image:
        url(https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/D1bEnY-uiW3.png);
    background-position: 0px -63px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}