:root {
  --bs-primary: #3578e5;
  --bs-secondary: #E4E6EB;
  --bs-tertiary: #f0f2f5;
  --nav-link-active: #e7f3ff;
  --bs-filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
  --bs-filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bs-tertiary);
}

#root {
  width: 100%;
  height: 100%;
}