.IconSignOff {
  background-image: url("/public/media/icons/actions--fill.png");
  background-position: 0px -713px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
