.post {
    max-width: 50rem;
    background-color: var(--bs-white);
    border-radius: 10px;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.container-publication-actions {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.container-publication-actions:hover {
    background-color: var(--bs-tertiary);
}

.post hr {
    width: 90%;
}

.footer-div--actions {
    max-width: 45rem;
}

.container-actions {
    padding: 8px 8px;
    border-radius: 10px;
    cursor: pointer;
}

.container-actions:hover {
    background-color: var(--bs-tertiary);
}

.text-actions {
    font-size: 1.4rem;
}

@media(min-width: 1024px) {
    .text-actions {
        font-size: 1.8rem;
    }
}

@media(min-width: 500px) {
    .container-actions {
        padding: 10px 15px;
    }
}